<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<form action="/blog">
    <input name="keyword" type="text" th:value="${keyword}">
    <button>Search</button>
</form>
<form action="/blog">
    <input name="keyword" type="hidden" th:value="${keyword}">
    <select name="category">
        <option th:text="All" th:value="0" th:selected="${selectedCategory == 0}"></option>
        <option th:each="category,status:${categories}" th:text="${category.name}" th:value="${category.id}"
                th:selected="${selectedCategory == category.id}"></option>
    </select>
    <button>Apply</button>
</form>
<a href="/blog/create">
    <button>Thêm mới</button>
</a>
<div>
    <a href="/blog/category">
        <button>Quản lý danh mục</button>
    </a>
</div>
<table th:if="${!blogs.isEmpty()}">
    <tr>
        <th>STT</th>
        <th>Title</th>
        <th>Introduction</th>
        <th>Date</th>
        <th>Category</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Detail</th>
    </tr>
    <tr th:each="blog,status :${blogs}">
        <td th:text="${status.count}"></td>
        <td th:text="${blog.getTitle()}"></td>
        <td th:text="${blog.getIntroduction()}"></td>
        <td th:text="${blog.getCreateDate()}"></td>
        <td th:text="${blog.getCategory().name}"></td>
        <td><a th:href="@{/blog/delete(id=${blog.getId()})}"
               data-bs-toggle="modal"
               data-bs-target="#deleteModal"
               th:attr="data-id=${blog.getId()}, data-name=${blog.getTitle()}"
               onclick="deleteBlog(this)"
        >Xoá</a></td>
        <td><a th:href="'/blog/update/' + ${blog.getId()}">
            <button>Chỉnh sửa</button>
        </a></td>
        <td><a th:href="'/blog/detail/' + ${blog.getId()}">
            <button>Chi tiết</button>
        </a></td>
    </tr>
</table>
<div th:if="${blogs.isEmpty()}">
    <p>Không tìm thấy kết quả phù hợp</p>
</div>
<div th:if="${!blogs.isEmpty()}">
    <a th:if="${blogs.hasPrevious()}"
       th:href="@{/blog(page=${blogs.number - 1},keyword=${keyword}, category=${selectedCategory})}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a
            th:if="${blogs.hasNext()}"
            th:href="@{/blog(page=${blogs.number + 1},keyword=${keyword}, category=${selectedCategory})}">Next</a>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/blog/delete" method="get">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Blog</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure want to delete <span id="name"></span>?
                    <input type="hidden" id="id" name="id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function deleteBlog(element) {
        let id = element.getAttribute('data-id');
        let name = element.getAttribute('data-name');
        document.getElementById("name").innerHTML = name;
        document.getElementById("id").value = id;
    }
</script>
</body>
</html>