<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/blog/create_category">
    <button>Thêm mới</button>
</a>
<table>
    <th>
        <td>STT</td>
        <td>Tên</td>
        <td>Chỉnh sửa</td>
    </th>
    <tr th:each="category, status: ${categories}">
        <td th:text="${status.count}"></td>
        <td th:text="${category.name}"></td>
        <td><a th:href="'/blog/update_category/' + ${category.getId()}">
            <button>Chỉnh sửa</button>
        </a></td>
    </tr>
</table>
<button><a href="/blog">Back</a></button>
</body>
</html>