<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/blog/update" th:object="${blog}" method="post">
  <table>
      <input th:field="*{id}" hidden th:value="${blog.getId()}">
    <tr>
      <td>Title</td>
      <td><input type="text" th:field="*{title}"></td>
    </tr>
      <tr>
          <td>Introduction</td>
          <td><input type="text" th:field="*{introduction}"></td>
      </tr>
      <tr>
          <td>Content</td>
          <td><input type="text" th:field="*{content}"></td>
      </tr>
      <tr>
          <td>Category</td>
          <td><select th:field="*{category}">
              <option th:each="category,status:${categories}" th:text="${category.name}" th:value="${category.id}"></option>
          </select></td>
      </tr>
  </table>
    <input type="submit" value="Edit">
</form>
</body>
</html>