<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Thêm mới sản phẩm</h2>
<div>
  <form action="/create/save" method="post" th:object = "${product}">
<!--    <input type="hidden" th:field="*{id}"/>-->
    <table>
      <tr>
        <td>Tên</td>
        <td><input type="text" th:field="*{name}"></td>
      </tr>
      <tr>
        <td>Giá</td>
        <td><input type="number" min="1" th:field="*{price}"></td>
      </tr>
      <tr>
        <td>Mô tả</td>
        <td><input type="text" th:field="*{description}"></td>
      </tr>
      <tr>
        <td>Nhà sản xuất</td>
        <td><input type="text" th:field="*{manufacture}"></td>
      </tr>
    </table>
    <input type="submit" value="Thêm"/>
  </form>
</div>
</body>
</html>