<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Chỉnh sửa sản phẩm</h2>
<form action="/product/edit/save" th:object="${product}" method="post">
    <table>
        <tr>
            <td>Tên sản phẩm</td>
            <td><input type="text" th:field="*{name}" th:value="${product.name}"></td>
        </tr>
        <tr>
            <td>Giá</td>
            <td><input type="number" min="1000" th:field="*{price}" th:value="${product.price}"></td>
        </tr>
        <tr>
            <td>Mô tả</td>
            <td><input type="text" th:field="*{description}" th:value="${product.description}"></td>
        </tr>
        <tr>
            <td>Nhà sản xuất</td>
            <td><input type="text" th:field="*{manufacture}" th:value="${product.manufacture}"></td>
        </tr>
        <input type="hidden" th:field="*{id}" th:value="${product.id}">
    </table>
    <button>Lưu</button>
</form>
</body>
</html>